
/* ========= Media Query ========= */
$small: 320px !default;
$medium: 768px !default;
$large: 1024px !default;

$small-and-up: "only screen and (min-width : #{$small})" !default;
$medium-and-up: "only screen and (min-width : #{$medium})" !default;
$large-and-up: "only screen and (min-width : #{$large})" !default;

/* ========= Grid 함수 ========= */
@mixin grid($context, $target){
  width: (($context / $target) * 100%);
}

/* ========= column 시스템  ========= */
[class*="l-"]{
  width: 100%;
  float: left;    
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	text-align: center;
}

/*
  사용방법
  pcSize, tabSize, mobSize 변수에 넣고 싶은 몇단인지 비율로 넣는다. 
  예시)
  1200 % 12(넣고싶은 단수) = 100
  1200 % 6(넣고싶은 단수) = 200
  1200 % 2(넣고싶은 단수) = 600

  960 % 12(넣고싶은 단수) = 80
  960 % 6(넣고싶은 단수) = 160
  960 % 2(넣고싶은 단수) = 480
*/
$pcSize: 80;
$tabSize: 160;
$mobSize: 480;

/* ========= Mobile 레이어아웃 ========= */
@media #{$small-and-up} {
  .l-mob {
    @include grid($mobSize, 960);
  }
}

/* ========= Tablet 레이어아웃 ========= */
@media #{$medium-and-up} {
  .l-tablet {
    @include grid($tabSize, 960);
  }
}

/* ========= PC 레이어아웃 ========= */
@media #{$large-and-up} {
  .l-pc {
    @include grid($pcSize, 960);
  }
}
